<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
	</configSections>

	<loggingConfiguration tracingEnabled="true" defaultCategory="MockCategoryOne">
		<logFilters />
		<categorySources />
		<formatters />

		<specialSources>
			<errors name="errors" switchValue="All" />
		</specialSources>

    <listeners>
      <add name="invalid type" 
				type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.Tests.MockTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Tests" 
				listenerDataType="an invalid type" 
				/>
		</listeners>

  </loggingConfiguration>
</configuration>
