<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" />
    <section name="instrumentationConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Common.Instrumentation.Configuration.InstrumentationConfigurationSection, Microsoft.Practices.EnterpriseLibrary.Common" />
	</configSections>
  <instrumentationConfiguration performanceCountersEnabled="true" eventLoggingEnabled="true" wmiEnabled="true" />
	<exceptionHandling>
		<exceptionPolicies>
			<add name="Wrap Policy">
				<exceptionTypes>
					<add name="Exception" type="System.Exception, mscorlib" postHandlingAction="ThrowNewException">
						<exceptionHandlers>
							<add name="WrapHandler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.WrapHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" exceptionMessage="Test Message" wrapExceptionType="System.ApplicationException, mscorlib"/>
						</exceptionHandlers>
					</add>
				</exceptionTypes>
			</add>
			<add name="Replace Policy">
				<exceptionTypes>
					<add name="Exception" type="System.Exception, mscorlib" postHandlingAction="ThrowNewException">
						<exceptionHandlers>
							<add name="ReplaceHandler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.ReplaceHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" exceptionMessage="Test Message" replaceExceptionType="System.ApplicationException, mscorlib"/>
						</exceptionHandlers>
					</add>
				</exceptionTypes>
			</add>
			<add name="Custom Policy">
				<exceptionTypes>
					<add name="Exception" type="System.Exception, mscorlib" postHandlingAction="ThrowNewException">
						<exceptionHandlers>
							<add name="CustomHandler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Tests.MockExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Tests" Age="32" Color="Red"/>
						</exceptionHandlers>
					</add>
				</exceptionTypes>
			</add>
      <add name="ThrowNewExceptionPolicy">
        <exceptionTypes>
          <add name="Exception" type="System.Exception, mscorlib" postHandlingAction="ThrowNewException">
            <exceptionHandlers>
              <add name="ReplaceHandler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.ReplaceHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" exceptionMessage="Test Message" replaceExceptionType="System.ApplicationException, mscorlib"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="LocalizedWrapPolicy">
        <exceptionTypes>
          <add name="Exception" type="System.Exception, mscorlib" postHandlingAction="ThrowNewException">
            <exceptionHandlers>
              <add name="WrapHandler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.WrapHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" exceptionMessageResourceName="ExceptionMessage" exceptionMessageResourceType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Tests.Properties.Resources, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Tests"  wrapExceptionType="System.ApplicationException, mscorlib"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="LocalizedReplacePolicy">
        <exceptionTypes>
          <add name="Exception" type="System.Exception, mscorlib" postHandlingAction="ThrowNewException">
            <exceptionHandlers>
              <add name="ReplaceHandler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.ReplaceHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" exceptionMessageResourceName="ExceptionMessage" exceptionMessageResourceType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Tests.Properties.Resources, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Tests"  replaceExceptionType="System.ApplicationException, mscorlib"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>

    </exceptionPolicies>
	</exceptionHandling>
</configuration>