<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
    <section name="instrumentationConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Common.Instrumentation.Configuration.InstrumentationConfigurationSection, Microsoft.Practices.EnterpriseLibrary.Common" />
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common" />
  </configSections>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="Policy1">
        <exceptionTypes>
          <add type="System.ArgumentException, mscorlib" postHandlingAction="ThrowNewException"
            name="ArgumentException">
            <exceptionHandlers>
              <add exceptionMessage="Test Message" exceptionMessageResourceType=""
                wrapExceptionType="System.ApplicationException, mscorlib" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.WrapHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"
                name="Handler1" />
              <add exceptionMessage="Test Message" exceptionMessageResourceType=""
                wrapExceptionType="System.ApplicationException, mscorlib" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.WrapHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"
                name="Handler3" />
            </exceptionHandlers>
          </add>
          <add type="System.Exception, mscorlib" postHandlingAction="ThrowNewException"
            name="Exception">
            <exceptionHandlers>
              <add exceptionMessage="Test Message" exceptionMessageResourceType=""
                wrapExceptionType="System.ApplicationException, mscorlib" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.WrapHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"
                name="Handler1" />
              <add exceptionMessage="Test Message" exceptionMessageResourceType=""
                wrapExceptionType="System.ApplicationException, mscorlib" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.WrapHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"
                name="Handler2" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="Policy2">
        <exceptionTypes>
          <add type="System.ArgumentNullException, mscorlib" postHandlingAction="ThrowNewException"
            name="ArgumentNullException">
            <exceptionHandlers>
              <add exceptionMessage="Test Message" exceptionMessageResourceType=""
                wrapExceptionType="System.ApplicationException, mscorlib" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.WrapHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"
                name="Handler1" />
              <add exceptionMessage="Test Message" exceptionMessageResourceType=""
                wrapExceptionType="System.ApplicationException, mscorlib" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.WrapHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"
                name="Handler3" />
            </exceptionHandlers>
          </add>
          <add type="System.Exception, mscorlib" postHandlingAction="ThrowNewException"
            name="Exception">
            <exceptionHandlers>
              <add exceptionMessage="Test Message" exceptionMessageResourceType=""
                wrapExceptionType="System.ApplicationException, mscorlib" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.WrapHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"
                name="Handler1" />
              <add exceptionMessage="Test Message" exceptionMessageResourceType=""
                wrapExceptionType="System.ApplicationException, mscorlib" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.WrapHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"
                name="Handler2" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <instrumentationConfiguration performanceCountersEnabled="true"
    eventLoggingEnabled="true" wmiEnabled="true" />
  <enterpriseLibrary.ConfigurationSource selectedSource="System Configuration Source">
    <sources>
      <add name="Manageable" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.Manageability.ManageableConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common"
        filePath="EnterpriseLibrary.ExceptionHandling.Configuration.Manageability.Tests.dll.config"
        applicationName="UNITTEST" enableWmi="true" enableGroupPolicies="true">
        <manageabilityProviders>
          <add type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.Manageability.InstrumentationConfigurationSectionManageabilityProvider, Microsoft.Practices.EnterpriseLibrary.Common"
            name="instrumentationConfiguration" />
          <add type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.Manageability.ExceptionHandlingSettingsManageabilityProvider, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"
            name="exceptionHandling">
            <manageabilityProviders>
              <add targetType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.CustomHandlerData, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"
                type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.Manageability.CustomHandlerDataManageabilityProvider, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"
                name="CustomHandlerData" />
              <add targetType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.WrapHandlerData, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"
                type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.Manageability.WrapHandlerDataManageabilityProvider, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"
                name="WrapHandlerData" />
              <add targetType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ReplaceHandlerData, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"
                type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.Manageability.ReplaceHandlerDataManageabilityProvider, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"
                name="ReplaceHandlerData" />
            </manageabilityProviders>
          </add>
        </manageabilityProviders>
      </add>
      <add name="System Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.SystemConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common" />
    </sources>
  </enterpriseLibrary.ConfigurationSource>
</configuration>