<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="false"
      defaultCategory="" logWarningsWhenNoCategoriesMatch="false">
    <listeners>
      <add toAddress="to@example.com" fromAddress="from@example.com"
          subjectLineStarter="" subjectLineEnder="" smtpServer="127.0.0.1"
          smtpPort="23" formatter="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="Email TraceListener" />
      <add fileName="trace.log" header="----------------------------------------"
          footer="----------------------------------------" formatter=""
          listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="FlatFile TraceListener" />
      <add name="Msmq TraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.MsmqTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.MsmqTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          traceOutputOptions="None" queuePath=".\Private$\myQueue" formatter=""
          messagePriority="Lowest" timeToReachQueue="00:01:00" timeToBeReceived="00:01:00"
          recoverable="true" useAuthentication="false" useDeadLetterQueue="false"
          useEncryption="false" transactionType="None" />
      <add listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.SystemDiagnosticsTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          name="System.Diagnostics TraceListener" initializeData="" />
      <add listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.WmiTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.WmiTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="WMI TraceListener" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.BinaryLogFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="Binary Formatter" />
      <add template="Timestamp: {timestamp}\r\nMessage: {message}\r\nCategory: {category}\r\nPriority: {priority}\r\nEventId: {eventid}\r\nSeverity: {severity}\r\nTitle:{title}\r\nMachine: {machine}\r\nApplication Domain: {appDomain}\r\nProcess Id: {processId}\r\nProcess Name: {processName}\r\nWin32 Thread Id: {win32ThreadId}\r\nThread Name: {threadName}\r\nExtended Properties: {dictionary({key} - {value}\r\n)}"
          type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="Text Formatter" />
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.Design.Tests.CustomFormatter, Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.Design.Tests"
           name="customFormatter" />
      <add type="UnkownLogFormatterType, someLibrary, Version=1.2.3.4"
           name="FormatterWithUnknownType" />
    </formatters>
    <logFilters>
      <add categoryFilterMode="DenyAllExceptAllowed" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.CategoryFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="Category Filter" />
      <add enabled="false" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.LogEnabledFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="LogEnabled Filter" />
      <add minimumPriority="-1" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.PriorityFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="Priority Filter" />
    </logFilters>
    <categorySources>
      <add switchValue="Off" name="Category Source">
        <listeners>
          <clear />
          <add name="WMI TraceListener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="Off" name="All Events">
        <listeners>
          <clear />
          <add name="Msmq TraceListener" />
        </listeners>
      </allEvents>
      <notProcessed switchValue="Off" name="Unprocessed Category">
        <listeners>
          <clear />
          <add name="Email TraceListener" />
          <add name="FlatFile TraceListener" />
        </listeners>
      </notProcessed>
      <errors switchValue="Off" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="System.Diagnostics TraceListener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
</configuration>
