<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="enterpriseLibrary.ConfigurationSource"
						 type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common" />
    <section name="local.section.1"
						 type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.Manageability.Tests.Mocks.TestsConfigurationSection, EnterpriseLibrary.Common.Configuration.Manageability.Tests"/>
    <section name="external.section.1"
						 type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.Manageability.Tests.Mocks.TestsConfigurationSection, EnterpriseLibrary.Common.Configuration.Manageability.Tests"
						 />
  </configSections>
	<enterpriseLibrary.ConfigurationSource selectedSource="manageable">
		<sources>
			<add name="manageable"
					 type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.Manageability.ManageableConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common"
					 filePath="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.Manageability.Tests.dll.config"
					 enableWmi="true"
					 enableGroupPolicies="true"
					 applicationName="TestApp">
				<manageabilityProviders>
					<add type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.Manageability.Tests.Mocks.MockConfigurationSectionManageabilityProvider, EnterpriseLibrary.Common.Configuration.Manageability.Tests"
							 name="section1">
						<manageabilityProviders>
							<add type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.Manageability.Tests.Mocks.MockConfigurationElementManageabilityProvider, EnterpriseLibrary.Common.Configuration.Manageability.Tests"
									 name="subProvider1"
									 targetType="System.Object" />
							<add type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.Manageability.Tests.Mocks.MockConfigurationElementManageabilityProvider, EnterpriseLibrary.Common.Configuration.Manageability.Tests"
									 name="subProvider2" 
									 targetType="System.Boolean"/>
							<add type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.Manageability.Tests.Mocks.MockConfigurationElementManageabilityProvider, EnterpriseLibrary.Common.Configuration.Manageability.Tests"
									 name="subProvider3" 
									 targetType="System.String"/>
						</manageabilityProviders>
					</add>
					<add type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.Manageability.Tests.Mocks.MockConfigurationSectionManageabilityProvider, EnterpriseLibrary.Common.Configuration.Manageability.Tests"
							 name="section2"/>
				</manageabilityProviders>
			</add>
		</sources>
	</enterpriseLibrary.ConfigurationSource>
  <local.section.1 value="value1" />
  <external.section.1 configSource="test.external.config"/>
</configuration>

