<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="local.section.1"
						 type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.Manageability.Tests.Mocks.TestsConfigurationSection, EnterpriseLibrary.Common.Configuration.Manageability.Tests"/>
		<section name="external.section.1"
						 type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.Manageability.Tests.Mocks.TestsConfigurationSection, EnterpriseLibrary.Common.Configuration.Manageability.Tests"
						 />
	</configSections>
	<local.section.1 value="value1" />
	<external.section.1 configSource="test.external.config"/>
</configuration>