<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="badAssemblyConverter" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.Tests.BadNameSection, Microsoft.Practices.EnterpriseLibrary.Common.Tests" />
		<section name ="dummy.local" type ="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.Tests.DummySection, Microsoft.Practices.EnterpriseLibrary.Common.Tests"/>
		<section name ="dummy.local2" type ="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.Tests.DummySection, Microsoft.Practices.EnterpriseLibrary.Common.Tests"/>
		<section name ="dummy.external" type ="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.Tests.DummySection, Microsoft.Practices.EnterpriseLibrary.Common.Tests"/>
    <section name ="dummy.protected2" type ="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.Tests.DummySection, Microsoft.Practices.EnterpriseLibrary.Common.Tests"/>
    <section name="instrumentationConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Common.Instrumentation.Configuration.InstrumentationConfigurationSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name ="withoutclear" type="Microsoft.Practices.EnterpriseLibrary.Common.Tests.Configuration.TestObjects.PolymorphicConfigurationElementCollectionTestSection, Microsoft.Practices.EnterpriseLibrary.Common.Tests"/>
    <section name ="withclear" type="Microsoft.Practices.EnterpriseLibrary.Common.Tests.Configuration.TestObjects.PolymorphicConfigurationElementCollectionTestSection, Microsoft.Practices.EnterpriseLibrary.Common.Tests"/>
  </configSections>

  <enterpriseLibrary.ConfigurationSource selectedSource="systemSource">
    <sources>
      <add name="fileSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common" filePath="test.exe.config"/>
      <add name="systemSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.SystemConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common"/>
    </sources>
  </enterpriseLibrary.ConfigurationSource>
  
  <instrumentationConfiguration performanceCountersEnabled="true"
      eventLoggingEnabled="true" wmiEnabled="true" />
	<badAssemblyConverter type="foo"/>

	<dummy.local name="local" value="10"/>
	<dummy.local2 name="local2" value="30"/>
	<dummy.external configSource="dummy.external.config"/>
  
  <dummy.protected2 configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>ckXHPqA9EnAVG/Q6pYsMcPEQhVddZ5mRdzS24hk33rYpnBofxz1e0bfC0HPHzFMc+EVwaMgR0MG4GxmZIpHG0EfzSCk2HaOjmm6dniQULMyfaHjqaPYMqUirHLPajIkkwQZRpmXJCSHAlooRCW2XRG2pm/N1r8gOMQOU0J6eT6g=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>TJIsPPqWYD/BGAPJYg9OSCwR4/SaxefOkPSWsGUMiZE=</CipherValue>
      </CipherData>
    </EncryptedData>
  </dummy.protected2>

  <withoutclear>
    <withOverrides>
      <overridenAdd name="overrideprovider1a" type="Microsoft.Practices.EnterpriseLibrary.Common.Tests.Configuration.TestObjects.DerivedPolymorphicObject1, Microsoft.Practices.EnterpriseLibrary.Common.Tests"/>
      <overridenAdd name="overrideprovider2" type="Microsoft.Practices.EnterpriseLibrary.Common.Tests.Configuration.TestObjects.DerivedPolymorphicObject2, Microsoft.Practices.EnterpriseLibrary.Common.Tests"/>
      <overridenAdd name="overrideprovider1b" type="Microsoft.Practices.EnterpriseLibrary.Common.Tests.Configuration.TestObjects.DerivedPolymorphicObject1, Microsoft.Practices.EnterpriseLibrary.Common.Tests"/>
    </withOverrides>
    <withoutOverrides>
      <add name="provider1a" type="Microsoft.Practices.EnterpriseLibrary.Common.Tests.Configuration.TestObjects.DerivedPolymorphicObject1, Microsoft.Practices.EnterpriseLibrary.Common.Tests"/>
      <add name="provider2" type="Microsoft.Practices.EnterpriseLibrary.Common.Tests.Configuration.TestObjects.DerivedPolymorphicObject2, Microsoft.Practices.EnterpriseLibrary.Common.Tests"/>
      <add name="provider1b" type="Microsoft.Practices.EnterpriseLibrary.Common.Tests.Configuration.TestObjects.DerivedPolymorphicObject1, Microsoft.Practices.EnterpriseLibrary.Common.Tests"/>
    </withoutOverrides>
  </withoutclear>

  <withclear>
    <withOverrides>
      <overridenAdd name="overrideprovider1a" type="Microsoft.Practices.EnterpriseLibrary.Common.Tests.Configuration.TestObjects.DerivedPolymorphicObject1, Microsoft.Practices.EnterpriseLibrary.Common.Tests"/>
      <overridenClear/>
      <overridenAdd name="overrideprovider2" type="Microsoft.Practices.EnterpriseLibrary.Common.Tests.Configuration.TestObjects.DerivedPolymorphicObject2, Microsoft.Practices.EnterpriseLibrary.Common.Tests"/>
      <overridenAdd name="overrideprovider1b" type="Microsoft.Practices.EnterpriseLibrary.Common.Tests.Configuration.TestObjects.DerivedPolymorphicObject1, Microsoft.Practices.EnterpriseLibrary.Common.Tests"/>
    </withOverrides>
    <withoutOverrides>
      <add name="provider1a" type="Microsoft.Practices.EnterpriseLibrary.Common.Tests.Configuration.TestObjects.DerivedPolymorphicObject1, Microsoft.Practices.EnterpriseLibrary.Common.Tests"/>
      <clear/>
      <add name="provider2" type="Microsoft.Practices.EnterpriseLibrary.Common.Tests.Configuration.TestObjects.DerivedPolymorphicObject2, Microsoft.Practices.EnterpriseLibrary.Common.Tests"/>
      <add name="provider1b" type="Microsoft.Practices.EnterpriseLibrary.Common.Tests.Configuration.TestObjects.DerivedPolymorphicObject1, Microsoft.Practices.EnterpriseLibrary.Common.Tests"/>
    </withoutOverrides>
  </withclear>
</configuration>
