<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" />
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" />
	</configSections>
	<exceptionHandling>
		<exceptionPolicies>
			<add name="Logging Policy">
				<exceptionTypes>
					<add name="Exception" type="System.Exception, mscorlib" postHandlingAction="None">
						<exceptionHandlers>
							<add 
								logCategory="TestCat" 
								eventId="5" 
								severity="Error" 
								title="TestTitle"
								priority="-1"
								formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" 
								name="LoggingExceptionHandler"
								type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging"
							/>
						</exceptionHandlers>
					</add>
				</exceptionTypes>
			</add>
      <add name="Logging Policy - use default logger">
        <exceptionTypes>
          <add name="Exception" type="System.Exception, mscorlib" postHandlingAction="None">
            <exceptionHandlers>
              <add
								logCategory="TestCat"
								eventId="5"
								severity="Error"
								title="TestTitle"
								priority="-1"
								formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"
								name="LoggingExceptionHandler"
								type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging"
                useDefaultLogger="true"
							/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="Bad Formatter Logging Policy">
				<exceptionTypes>
					<add name="Exception" type="System.Exception, mscorlib" postHandlingAction="None">
						<exceptionHandlers>
							<add 
								logCategory="TestCat" 
								eventId="5" 
								severity="Error" 
								title="TestTitle"
								priority="-1"
								formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.Tests.BadExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.Tests" 
								name="LoggingExceptionHandler"
								type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging"
							/>
						</exceptionHandlers>
					</add>
				</exceptionTypes>
			</add>
		</exceptionPolicies>
	</exceptionHandling>

	<loggingConfiguration tracingEnabled="true" defaultCategory="TestCat">
		<logFilters>
			<add
				name="Category"
				type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.CategoryFilter, Microsoft.Practices.EnterpriseLibrary.Logging"
				categoryFilterMode="AllowAllExceptDenied">
				<categoryFilters>
					<add name="MyDeniedCategory" />
					<add name="MyDeniedCategory2" />
					<add name="MyDeniedCategory3" />
				</categoryFilters>
			</add>
			<add
				name="Priority"
				type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.PriorityFilter, Microsoft.Practices.EnterpriseLibrary.Logging"
				minimumPriority="5"
					/>
		</logFilters>

    <categorySources>
      <add 
				name="TestCat"
				switchValue="All">
        <listeners>
          <add name="MockListener" />
        </listeners>
      </add>
    </categorySources>

    <specialSources>
      <errors name="errors" switchValue="All">
        <listeners/>
      </errors>
    </specialSources>

    <listeners>
      <add 
				name="MockListener" 
				type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.Tests.MockTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Tests" 
				listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Tests.TraceListeners.MockTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging.Tests" 
				/>
    </listeners>
  </loggingConfiguration>
</configuration>