<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" />
	</configSections>

  <connectionStrings>
    <add 
			name="Service_Dflt" 
			providerName="System.Data.SqlClient"
			connectionString="server=(local)\SQLEXPRESS;database=Northwind;Integrated Security=true" />
    <add 
			name="LoggingDb" 
			providerName="System.Data.SqlClient"
			connectionString="server=(local)\SQLEXPRESS;database=Logging;Integrated Security=true" />
  </connectionStrings>
  
  <dataConfiguration defaultDatabase="LoggingDb">
	</dataConfiguration>

	<loggingConfiguration tracingEnabled="true" defaultCategory="FormattedCategory">
		<logFilters>
			<add
				name="Category"
				type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.CategoryFilter, Microsoft.Practices.EnterpriseLibrary.Logging"
				categoryFilterMode="AllowAllExceptDenied">
				<categoryFilters>
					<add name="MyDeniedCategory" />
					<add name="MyDeniedCategory2" />
					<add name="MyDeniedCategory3" />
					<add name="bad operation" />
				</categoryFilters>
			</add>
			<add
				name="Priority"
				type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.PriorityFilter, Microsoft.Practices.EnterpriseLibrary.Logging"
				minimumPriority="5"
					/>
		</logFilters>

    <categorySources>
      <add
				name="FormattedCategory"
				switchValue="All">
        <listeners>
          <add name="SimpleTextFormatDatabase" />
        </listeners>
      </add>
      <add
				name="DictionaryCategory"
				switchValue="All">
        <listeners>
          <add name="DictionaryFormatDatabase" />
        </listeners>
      </add>
    </categorySources>

		<specialSources>
			<errors name="errors" switchValue="All"/>
		</specialSources>

    <listeners>
      <add name="SimpleTextFormatDatabase" 
				type="Microsoft.Practices.EnterpriseLibrary.Logging.Database.FormatterDatabaseTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Database" 
				listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Database.Configuration.FormatterDatabaseTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging.Database" 
				databaseInstanceName="LoggingDb" 
				writeLogStoredProcName="WriteLog"
				addCategoryStoredProcName="AddCategory" 
				formatter="SimpleTextFormat"
				/>
			<add name="DictionaryFormatDatabase" 
				type="Microsoft.Practices.EnterpriseLibrary.Logging.Database.FormatterDatabaseTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Database" 
				listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Database.Configuration.FormatterDatabaseTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging.Database" 
				databaseInstanceName="LoggingDb" 
				addCategoryStoredProcName="AddCategory" 
				writeLogStoredProcName="WriteLog" 
				formatter="DictionaryFormat"
				/>
		</listeners>

    <formatters>
			<add
				name="SimpleTextFormat"
				type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging"
				template="{timestamp}: {title}{newline}{newline}{message}"
				/>
			<add 
				name="DictionaryFormat"
				type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging"
				template="Timestamp: {timestamp}{newline}Title: {title}{newline}{newline}Message: {message}{newline}{newline}Extended Properties:{newline}{dictionary(Key: {key}{tab}{tab}Value: {value}{newline})}"
				/>
			<add 
				name="WrappingFormat"
				type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging"
				template="BEGIN{message}END"
				/>
		</formatters>
	</loggingConfiguration>
</configuration>